<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PartOf</title>
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset("assets/css/font-awesome.min.css") }}/>
        <link rel="stylesheet" href= {{ asset("assets/css/app.css") }}/>
    {% endblock %}
    <script defer src={{ asset("./js/main.js") }}></script>
</head>
<body>
<div class="PartOf-pages">
    <!-- Start Header -->
    {% include "./component/header.html.twig" %}
    <!--End Header   -->
    {% block body %}
    {% endblock %}
    {% include "./component/footer.html.twig" %}
</div>
</body>
</html>
